---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import TechStack from "@/components/TechStack.astro"
---

<Layout
  title="Portfolio of Tomas Ruiz - Web Developer and AI trainer with 7 years of experience."
  description="Hire Tomás Ruiz to develop your web, mobile, or AI project. A passionate Full Stack Developer with hands-on experience in AI—improving models and streamlining processes at Scale AI—and a talent for turning ideas into innovative digital solutions. Elevate your project with cutting-edge technology and creative expertise!"
>
  <main id="main" class="px-4">
    <SectionContainer class="py-20 md:py-32">
      <Hero />
    </SectionContainer>
    <div class="space-y-28 lg:space-y-36">
      <SectionContainer id="tech">
        <TitleSection>
          Tech stack
        </TitleSection>
        <TechStack />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon slot="icon" class="size-5 md:size-6" />
          Projects
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase slot="icon" class="size-5 md:size-6" />
          Work Experience
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck slot="icon" class="size-5 md:size-6" />
          About me
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
