<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hey! My name is Tomás. My journey in software development started years ago, and since then I have been dedicated to <strong>creating innovative technological solutions</strong>.
    </p>

    <p>
      Among my most notable achievements is <strong>the design and development of a system for ANCAP</strong>, optimizing their processes with technologies such as PHP, Symfony, and SQL, achieving a 30% improvement in processing time.
    </p>

    <p>
      Currently, I work as <strong>AI Trainer at Scale AI</strong>, where I enhance artificial intelligence models using Python, JavaScript, and SQL. My goal is always to combine technology and creativity to solve complex problems.
    </p>

    <p>
      Outside of work, I am passionate about learning new technologies, collaborating in dynamic teams, and participating in projects that make a positive impact.
    </p>
  </div>

  <img width="320" height="320" src="/me.png" alt="Tomás" loading="lazy" decoding="async" class="order-1 object-cover w-56 md:w-64 aspect-square p-1 md:order-2 rotate-3 lg:p-2 rounded-2xl bg-black/10 dark:bg-blue-500/5 ring-1 ring-black/10 dark:ring-white/10" style="object-position: 50% 50%">
</article>
