---
import ExperienceItem from "./ExperienceItem.astro"
import { CV } from "@/data/cv"
---

<div class="relative mt-12">
  {
    CV.experiences.map((experience, index) => (
      <div 
        class="relative"
        data-aos="fade-up"
        data-aos-delay={index * 100}
      >
        <ExperienceItem {...experience} />
      </div>
    ))
  }
</div>
