---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-28 w-full mx-auto container max-w-6xl px-4`}
>
  <slot />
</section>
